{erl_opts, [debug_info]}.
{deps, [
    cowboy,
    jiffy,
    jesse
]}.

{overrides, [
    % workaroung cowboy deps error
    % https://github.com/erlang/rebar3/issues/2364
    {override, cowboy, [{deps, [cowlib, ranch]}]}
]}.

{profiles, [
    {test, [
        {deps, []},
        {erl_opts, [debug_info]},
        {extra_src_dirs, [
            {"test/eunit/src", []},
            {"test/ct/src", []}
        ]}
    ]}
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [tasks_server]}
]}.
